﻿@{
    ViewData["Title"] = "Contact";
}



<style type="text/css">



.name
{
    height: 0%;
    width: 30%;
}

.box
{
    margin-top: -8%;
    margin-left: 10%;

}



.comments
{
    height: 80px;
    width: 30%;
    
}

.foto1
{
  
}



</style>

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">

</head>

<div  class="containerA">
    <div >
        <br>
        <h1  class="text-center ">José Pablo Cifuentes Sánchez</h1>
        <h4 class="text-center">Computer Science Student</h4>
    </div>
</div>
<div class="foto1"></div>



<div class="box">
    <h1><b>Contact Me!</b></h1>
    <br>
    <h2>Email</h2>
    <input namex="email" class="name">
    <br>
    <h2>Name</h2>
    <input id="name" class="name">
    <br>
    <h2>Comments</h2>
    <input id="comments" class="comments">
    <br><br>
    <button onclick="ingresar()">Send</button>

    </div>


