﻿@{
    ViewData["Title"] = "Home Page";
}



<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link href="https://fonts.googleapis.com/css?family=Rammetto+One" rel="stylesheet">
    <script type="text/javascript" src="~/js/site.js"></script>
</head>

<style type="text/css">
   


</style>

<body>
    
<div id="intro" class="containerA">
    <div >
        <br>
        <h1 class="text-center ">José Pablo Cifuentes Sánchez</h1>
        <h4 class="text-center">Computer Science Student</h4>
        
    </div>
    
</div>



<div class="foto1"></div>

<div  class="caja">
    <div>
          <br><br>     
        <p>Hello! I’m José Pablo Cifuentes Sánchez. Now, 
            I’m a student of Computer Science at UVG, currently in 2nd grade.
            I’m an active person that like practice sports and eat healthy, 
            which allows me to have in general high performance.
            <br><br><br><br> 
        </p>


        <div class="quitar">
        <p >
           <p class="izquierda">
               <b>Age:</b> 18   
               &nbsp; &nbsp;   &nbsp; &nbsp; &nbsp; &nbsp; 
               &nbsp; &nbsp;   &nbsp; &nbsp; &nbsp; &nbsp; 
               &nbsp; &nbsp;   &nbsp; &nbsp; &nbsp; &nbsp;
               &nbsp; &nbsp;   &nbsp; &nbsp; &nbsp; &nbsp; 
               &nbsp; &nbsp;   &nbsp; &nbsp; &nbsp; &nbsp; 
               &nbsp; &nbsp;   &nbsp; &nbsp; &nbsp; &nbsp;
               &nbsp; &nbsp;   &nbsp; &nbsp; &nbsp; &nbsp;
               <b>Phone :</b> +502 56307230
               
           </p> 
            <p class="izquierda">
               <b>Email:</b> josepablocif16@gmail.com
               &nbsp; &nbsp;   &nbsp; &nbsp; &nbsp; &nbsp; 
               &nbsp; &nbsp;   &nbsp; &nbsp; &nbsp; &nbsp; 
               &nbsp; &nbsp;   &nbsp; &nbsp; &nbsp; &nbsp;
               &nbsp; &nbsp;   &nbsp;
               
               <b>Nationality:</b> Guatemala
           </p>
        </p>
        </div>
    </div>
</div> <!fin fe caja>


<div id="education" class="titulo" >
EDUCATION
</div>

<div class="linea"></div>
<div class="circulo1"></div>

<div class="tiempo1">
<div class="oscuro1">
    Bachelor of Computer

</div>
<div class="blanco1">
    <p>La Salle School - Antigua Guatemala</p>
    <p>January 2011 - November 2016</p>
    <p>Average: 91pts.</p>

</div>
</div>

<div class="circulo2"></div>

<div class="tiempo2">
<div class="oscuro2">
    1st Year of Computer Science

</div>


<div class="blanco2">
    <p>Universidad Del Valle - Guatemala</p>
    <p>January 2017 - November 2017</p>
    <p>Average: 87pts.</p>

</div>
</div>

<div class="titulo skills"  >
    <br><br>
SKILLS
</div>

<div id="skills" class="skill1">
    <div>
        <b>Professional</b>
    </div>
        
    <div class="subtitulo">
        Adobe Design Tools &nbsp;  &nbsp; &nbsp;  80%
    </div>
    <div class="lineaH"></div>
    <div class="lineaHB"></div>

    <br>

    <div class="subtitulo">
        Java &nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 80%
    </div>
    <div class="lineaH"></div>
    <div class="lineaHB"></div>

    <br>

    <div class="subtitulo">
        TypeScript &nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  20%
    </div>
    <div class="lineaH1"></div>
    <div class="lineaHB"></div>

    <br>

    <div class="subtitulo">
        Visual Basic &nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   80%
    </div>
    <div class="lineaH"></div>
    <div class="lineaHB"></div>

    <br>

    <div class="subtitulo">
        HTML &nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  20%
    </div>
    <div class="lineaH1"></div>
    <div class="lineaHB"></div>

    <br>

    <div class="subtitulo">
        CSS &nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        &nbsp; 20%
    </div>
    <div class="lineaH1"></div>
    <div class="lineaHB"></div>

    <br>
    <div class="subtitulo">
        Python &nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 50%
    </div>
    <div class="lineaH2"></div>
    <div class="lineaHB"></div>


</div>

<div class="skill2">
    <div>
        <b>Personal</b>
    </div>

    <div class="subtitulo">
        Committed &nbsp;  &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;  100%
    </div>
    <div class="lineaH3"></div>
    <div class="lineaHB"></div>

    <br>
    <div class="subtitulo">
        Punctual &nbsp;  &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; 100%
    </div>
    <div class="lineaH3"></div>
    <div class="lineaHB"></div>

    <br>
    <div class="subtitulo">
        Leadership &nbsp;  &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  90%
    </div>
    <div class="lineaH4"></div>
    <div class="lineaHB"></div>

    <br>
    <div class="subtitulo">
        Communicative &nbsp;  &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         80%
    </div>
    <div class="lineaH"></div>
    <div class="lineaHB"></div>

    <br>
    <div class="subtitulo">
        Analytical Skill &nbsp;  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         90%
    </div>
    <div class="lineaH4"></div>
    <div class="lineaHB"></div>

    <br>
    <div class="subtitulo">
        Autodidact &nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         100%
    </div>
    <div class="lineaH3"></div>
    <div class="lineaHB"></div>

</div>

<div class="skills3">
    <div>
        <b>Language</b>
    </div>

    <div class="subtitulo">
        Spanish (Native) &nbsp;  &nbsp; &nbsp; &nbsp;
         100%
    </div>
    <div class="lineaH3"></div>
    <div class="lineaHB"></div>

    <br>

    <div class="subtitulo">
        English &nbsp;  &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
         &nbsp; 70%
    </div>
    <div class="lineaH5"></div>
    <div class="lineaHB"></div>

</div>

<div class="boton">
    
    <a asp-area="" asp-controller="Home" asp-action="Contact" class="navbar-brand">Contact Me!</a>
    
</div>

<div class="final"></div>
<div class="oculto">
<button onclick="javascript:getDispositivo();">Click</button>
<div id="divOculto" style="opacity:0 position: absolute">    
    <output type="text" id="dispositivo" ></output>
</div>
</div>
</body>
