﻿



.oculto
{
    margin-top: 50px;
    
}
.containerA
{
background: #585858;
width: 100%;
text-align: center;

}

.foto1
{
z-index: 1;
margin-top: 0%;
margin-left: 60%;
width: 20%;
height: 40%;
border-radius: 25%;
background: white;
background-image: url("../../../../images/foto1.jpg");    
background-size: 200%;
background-position-x: 53%;
background-position-y: 50%;
position: absolute;
box-sizing: border-box;

}

.caja
{
padding: 0.5%;
text-align: center;
align-content: center;
margin-left: 10%;
margin-top: 0%;
width: 50%;    
height: auto;
-webkit-box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
-moz-box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
box-sizing: border-box;
}

.titulo
{
color: #585858;
margin-top: 8%;
text-align: center;
font-size: 40px;
font-family: 'Rammetto One', cursive;
}

.linea
{
margin-top: 4%;
margin-left: 48.3%;
width: 2px;
height: 150px;
background-color:transparent;

}
.circulo1
{
margin-top: -15%;
margin-left: 47.5%;
width: 20px;
height: 20px;
border-radius: 10px;
background:transparent;


}

.circulo2
{
margin-top: 5%;
margin-left: 47.5%;
width: 20px;
height: 20px;
border-radius: 10px;
background: transparent;


}
.tiempo1
{
    margin-left: 5%;
}


.blanco1{
    padding: 1%;
    margin-left: 41.5%;
    position: absolute;
    margin-top: 1%;
    width: 19%;    
    -webkit-box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    -moz-box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    z-index: 3;
    }

    .oscuro1{
        -webkit-text-fill-color: white;
        padding: 0.25%;
        width: 20.5%;
        height: auto;
        text-align: center;
        margin-left: 40%;
        margin-top: -1%;
        position: absolute;
        background:rgb(46, 46, 46);
        }
    
.tiempo2
{
    margin-left: 1%;
}
    .blanco2{
    padding: 1%;
    margin-left: 17%;
    margin-top: 1%;
    position: absolute;
    width: 19%;    
    -webkit-box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    -moz-box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    }
       
    .oscuro2{
    -webkit-text-fill-color: white;
    padding: 0.25%;
    width: 20.5%;
    height: auto;
    text-align: center;
    margin-left: 17%;
    margin-top: -1%;
    position: absolute;
    background:rgb(46, 46, 46);
    }
          
    .oscuro1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid white;            
    border-top: 70px solid transparent;
    }
    
    .oscuro2:before {
    content: "";
    position: absolute;
    margin-left: 5px;
    right: 0;
    bottom: 0;
    width: 0;
    height: 70px;
    border-right: 20px solid white;
    border-top: 70px solid transparent;
    }

    .skill1
    {
    padding: 1%;
    background: #424242;
    margin-left: 15%;
    position: absolute;
    text-align: center;
    color: white;
    margin-top: 1%;
    width: 17%;    
    height: auto;
    -webkit-box-shadow: 0px 1px 23px -6px #000000;
    -moz-box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    
    }

    .skill2
    {
    padding: 1%;
    background: #424242;
    margin-left: 33%;
    position: absolute;
    text-align: center;
    color: white;
    margin-top: 1%;
    width: 17%;    
    height: auto;
    -webkit-box-shadow: 0px 1px 23px -6px #000000;
    -moz-box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    
    }
    
    .skills3
    {
    padding: 1%;
    background: #424242;
    margin-left: 51.17%;
    position: absolute;
    text-align: center;
    color: white;
    margin-top: 1%;
    width: 17%;    
    height: auto;
    -webkit-box-shadow: 0px 1px 23px -6px #000000;
    -moz-box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    
    }
body {
    padding-top: 50px;
    padding-bottom: 20px
}

.body-content {
    padding-left: 15px;
    padding-right: 15px
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4
}

.carousel-inner .item img[src$=".svg"] {
    width: 10%
}

#qrCode {
    margin: 15px
}

h1
{
font-weight: 400;
margin-top: 0px;
font-size: 2em;
color: white;
text-shadow: 2px,2px,2px rgb(0, 0,0,0.29);

}
h4
{
margin-top: -15px;
font-size: 1.2em;
line-height: 1.5;
font-weight: 300;
color: white;
margin-bottom: 110px;
text-shadow: 2px,2px,2px rgb(0, 0,0,0.29);

}

.row
{
margin-top: 200px;
}

.izquierda
{
text-align: left;
}

.derecha
{
text-align: right;
}

.subtitulo
{
margin-top: 5%;
text-align: left;
z-index: 5;
}

.lineaH
{
position: absolute;
width: 61%;
height: 5px;
z-index: 1;
background-color: white;

}

.lineaH1
{
position: absolute;
width: 13%;
height: 5px;
z-index: 1;
background-color: white;

}

.lineaH2
{
position: absolute;
width: 40%;
height: 5px;
z-index: 1;
background-color: white;

}
.lineaH3
{
position: absolute;
width: 80%;
height: 5px;
z-index: 1;
background-color: white;

}

.lineaH4
{
position: absolute;
width: 67%;
height: 5px;
z-index: 1;
background-color: white;

}

.lineaH5
{
position: absolute;
width: 53%;
height: 5px;
z-index: 1;
background-color: white;

}

.lineaHB
{
position: absolute;
z-index: 0;
margin-top: 0.5%;
width: 80%;
height: 3px;
background-color: #1a1a1a;

}

.boton
{
margin-top: 50%;
display: block;
width: 135px;
height: 43px;
margin-left: 70%;  


}

.final
    {
        margin-top: 100px;
    }

/* Diseno para tablet */
@media screen and (max-width: 768px) 
{

    /* vista contact*/
    .box
    {
        margin-top: 300px;
        margin-left: 40%;

    }
    /**/

    .foto1
    {
    z-index: 1;
    margin-top: -10%;
    margin-left: 25%;
    width: 50%;
    height: 50%;
    border-radius: 25%;
    background: white;
    background-image: url("../../../../images/foto1.jpg");    
    background-size: 200%;
    background-position-x: 53%;
    background-position-y: 50%;
    position: absolute;
    box-sizing: border-box;

    }

    .caja
    {
    padding: 0.5%;
    text-align: center;
    align-content: center;
    margin-left: 0%;
    margin-top: 370px;
    width: 100%;    
    height: auto;
    -webkit-box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    -moz-box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    box-sizing: border-box;
    }

    .linea
    {
        display: none;
    }

    .circulo1
        {
            display: none;
        }

    .circulo2
    {
    display: none;

    }

    .tiempo1
{
    margin-top: 5%;
    margin-left: 10%;
}


.blanco1{
    padding: 1%;
    margin-left: 41.8%;
    position: absolute;
    margin-top: 6.5%;
    width: 30.3%;    
    -webkit-box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    -moz-box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    
    }

    .oscuro1{
        -webkit-text-fill-color: white;
        padding: 0.25%;
        width: 33.5%;
        height: auto;
        text-align: center;
        margin-left: 38.5%;
        margin-top: 3%;
        position: absolute;
        background:rgb(46, 46, 46);
        z-index: 1;
        }
    
.tiempo2
{
    margin-top: 20%;
    margin-left: -5%;
}
    .blanco2{
    padding: 1%;
    margin-left: 17%;
    margin-top: 2.5%;
    position: absolute;
    width: 30.3%;   
    -webkit-box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    -moz-box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    }
       
    .oscuro2{
    -webkit-text-fill-color: white;
    padding: 0.25%;
    width: 33.5%;
    height: auto;
    text-align: center;
    margin-left: 17%;
    margin-top: -1%;
    position: absolute;
    background:rgb(46, 46, 46);
    }
          
    .oscuro1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid white;            
    border-top: 70px solid transparent;
    z-index: 1;
    }
    
    .oscuro2:before {
    content: "";
    position: absolute;
    margin-left: 5px;
    right: 0;
    bottom: 0;
    width: 0;
    height: 70px;
    border-right: 20px solid white;
    border-top: 70px solid transparent;
    }

    .titulo.skills
    {
        margin-top: 180px;
    }
    


    .skill1
    {
    padding: 1%;
    background: #424242;
    margin-left: 7%;
    position: absolute;
    text-align: center;
    color: white;
    margin-top: 10px;
    width: 80%;    
    height: auto;
    -webkit-box-shadow: 0px 1px 23px -6px #000000;
    -moz-box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    
    }

    .skill2
    {
    padding: 1%;
    background: #424242;
    margin-left: 7%;
    position: absolute;
    text-align: center;
    color: white;
    margin-top: 500px;
    width: 80%;    
    height: auto;
    -webkit-box-shadow: 0px 1px 23px -6px #000000;
    -moz-box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    
    }
    
    .skills3
    {
    padding: 1%;
    background: #424242;
    margin-left: 7%;
    position: absolute;
    text-align: center;
    color: white;
    margin-top: 930px;
    width: 80%;    
    height: auto;
    -webkit-box-shadow: 0px 1px 23px -6px #000000;
    -moz-box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    
    }

    .lineaH
    {
    position: absolute;
    width: 66%;
    height: 5px;
    z-index: 1;
    background-color: white;

    }

    .lineaH1
    {
    position: absolute;
    width: 19%;
    height: 5px;
    z-index: 1;
    background-color: white;

    }

    .lineaH2
    {
    position: absolute;
    width: 47.5%;
    height: 5px;
    z-index: 1;
    background-color: white;

    }
    .lineaH3
    {
    position: absolute;
    width: 95%;
    height: 5px;
    z-index: 1;
    background-color: white;

    }

    .lineaH4
    {
    position: absolute;
    width: 85.5%;
    height: 5px;
    z-index: 1;
    background-color: white;

    }

    .lineaH5
    {
    position: absolute;
    width: 66.5%;
    height: 5px;
    z-index: 1;
    background-color: white;

    }

    .lineaHB
    {
    position: absolute;
    z-index: 0;
    margin-top: 0.2%;
    width: 95%;
    height: 3px;
    background-color: #1a1a1a;

    }

    .final
    {
        margin-top: 800px;
    }

    

}

/*Diseno para telefonos*/
@media screen and (max-width: 480px) 
{
    /* vista contact*/
    .box
    {
        margin-top: 300px;
        margin-left: 40%;

    }
    /**/

    .boton
    {
        display: none;
    }
    .foto1
    {
    z-index: 1;
    margin-top: -20%;
    margin-left: -5%;
    width: 100%;
    height: 50%;
    border-radius: 5%;
    background: white;
    background-image: url("../../../../images/foto1.jpg");    
    background-size: 200%;
    background-position-x: 53%;
    background-position-y: 50%;
    position: absolute;
    box-sizing: border-box;

    }

    .quitar
    {
        display: none;
    }

    .caja
    {
    padding: 0.5%;
    text-align: center;
    align-content: center;
    margin-left: 0%;
    margin-top: 370px;
    width: 100%;    
    height: auto;
    -webkit-box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    -moz-box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    box-sizing: border-box;
    }

    .linea
    {
        display: none;
    }

    .circulo1
        {
            display: none;
        }

    .circulo2
    {
    display: none;

    }

    .tiempo1
{
    margin-top: 5%;
    margin-left: -10%;
}


.blanco1{
    padding: 1%;
    margin-left: 19%;
    position: absolute;
    margin-top: 9%;
    width: 73.5%;    
    -webkit-box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    -moz-box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    }

    .blanco2{
        padding: 1%;
        margin-left: 19%;
        margin-top: 9%;
        position: absolute;
        width: 73.5%;   
        -webkit-box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
        -moz-box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
        box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
        }

    .oscuro1{
        -webkit-text-fill-color: white;
        padding: 0.25%;
        width: 80%;
        height: auto;
        text-align: center;
        margin-left: 13%;
        margin-top: 3%;
        position: absolute;
        background:rgb(46, 46, 46);
        z-index: 1;
        }

        .oscuro2{
            -webkit-text-fill-color: white;
            padding: 0.25%;
            width: 80%;
            height: auto;
            text-align: center;
            margin-left: 18%;
            margin-top: 3%;
            position: absolute;
            background:rgb(46, 46, 46);
            }
    
.tiempo2
{
    margin-top: 60%;
    margin-left: -10%;
}
    
       
    
          
    .oscuro1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid white;            
    border-top: 70px solid transparent;
    z-index: 1;
    }
    
    .oscuro2:before {
    content: "";
    position: absolute;
    margin-left: 5px;
    right: 0;
    bottom: 0;
    width: 0;
    height: 70px;
    border-right: 20px solid white;
    border-top: 70px solid transparent;
    }

    .titulo.skills
    {
        margin-top: 250px;
    }
    


    .skill1
    {
    padding: 1%;
    background: #424242;
    margin-left: 7%;
    position: absolute;
    text-align: center;
    color: white;
    margin-top: 10px;
    width: 80%;    
    height: auto;
    -webkit-box-shadow: 0px 1px 23px -6px #000000;
    -moz-box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    
    }

    .skill2
    {
    padding: 1%;
    background: #424242;
    margin-left: 7%;
    position: absolute;
    text-align: center;
    color: white;
    margin-top: 500px;
    width: 80%;    
    height: auto;
    -webkit-box-shadow: 0px 1px 23px -6px #000000;
    -moz-box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    
    }
    
    .skills3
    {
    padding: 1%;
    background: #424242;
    margin-left: 7%;
    position: absolute;
    text-align: center;
    color: white;
    margin-top: 930px;
    width: 80%;    
    height: auto;
    -webkit-box-shadow: 0px 1px 23px -6px #000000;
    -moz-box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    box-shadow: 0px 1px 23px -6px rgba(0,0,0,1);
    
    }

    .lineaH
    {
    position: absolute;
    width: 66%;
    height: 5px;
    z-index: 1;
    background-color: white;

    }

    .lineaH1
    {
    position: absolute;
    width: 19%;
    height: 5px;
    z-index: 1;
    background-color: white;

    }

    .lineaH2
    {
    position: absolute;
    width: 47.5%;
    height: 5px;
    z-index: 1;
    background-color: white;

    }
    .lineaH3
    {
    position: absolute;
    width: 95%;
    height: 5px;
    z-index: 1;
    background-color: white;

    }

    .lineaH4
    {
    position: absolute;
    width: 85.5%;
    height: 5px;
    z-index: 1;
    background-color: white;

    }

    .lineaH5
    {
    position: absolute;
    width: 66.5%;
    height: 5px;
    z-index: 1;
    background-color: white;

    }

    .lineaHB
    {
    position: absolute;
    z-index: 0;
    margin-top: 0.2%;
    width: 95%;
    height: 3px;
    background-color: #1a1a1a;

    }

    .final
    {
        margin-top: 1200px;
    }



}